.chat-screen {
  background-color: #c6dae9;
}
.chat-screen .alt-header,
.chat-screen .status-bar {
  position: fixed;
  box-sizing: border-box;
  background-color: #c6dae9;
}
.chat-screen .alt-header {
  margin-top: -2px;
}
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.6s linear;
}
.time-stamp {
  text-align: center;
  padding: 8px 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.18);
}
.message-row {
  width: 100%;
  margin-top: 24px;
  display: flex;
  margin-bottom: 24px;
}
.message-row img {
  width: 65px;
  height: 65px;
  border-radius: 20px;
  margin-right: 16px;
}
.message__author {
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: #fff;
  padding: 12px 14px;
  border-radius: 0 14px 14px 14px;
  margin-right: 8px;
  font-size: 18px;
}
.message__time {
  opacity: 0.6;
  font-size: 12px;
}
.message-row__own {
  justify-content: flex-end;
}
.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-radius: 14px 0 14px 14px;
  margin: 0 0 0 8px;
}
.message-row__own .message__info {
  flex-direction: row-reverse;
}
/*
    순서를 바꾸고 싶을 때 다른 기능:
    message-row__own .message__bubble {
        order: 1;
    }
    message-row__own .message__time {
        order: 0;
    }
    조건: 부모 개체에 flex가 적용되어 있어야 함.
*/
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
.reply .reply__column:first-child {
  width: 40px;
  margin-right: 8px;
  cursor: pointer;
}
.reply .reply__column:last-child {
  width: 100%;
  position: relative;
}
.reply input {
  border: var(--border-line);
  width: 100%;
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
.reply input::placeholder {
  color: #999;
}
.reply__column:last-child > img,
.reply__column:last-child button {
  position: absolute;
  right: -5px;
  top: -1px;
  cursor: pointer;
}
.reply__column:last-child > img {
  right: 48px;
}
.reply__column button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
/* 
    reply:focus-within이 참일 경우, .reply__column:first-child에서 opacity: 0;이 실행됨
*/
.reply:focus-within .reply__column:first-child,
.reply:focus-within img {
  opacity: 0;
}
.reply:focus-within input {
  width: 95vw;
  transform: translateX(-9%) translateY(-90px);
}
.reply .reply__column:first-child,
.reply img {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within {
  transform: translateY(80px);
}
