#friends-display-link {
  padding: 15px 0;
  margin-bottom: var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #5c5e60;
}
#friends-display-link img {
  margin-right: 5px;
}
#friends-display-link img:last-child {
  margin-left: 5px;
}
.friends-screen__channel-header {
  padding-top: var(--horizontal-space);
  margin-top: var(--horizontal-space);
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.friends-screen__channel-header--title {
  font-size: 18px;
  color: #999;
  margin-bottom: var(--horizontal-space);
}
