.alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.settings-column__list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
}
.settings-column__list-section {
  padding: 16px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.settings-column__list-section:last-child {
  color: #a6a7ac;
}
.settings-column__list img {
  width: 32px;
  margin-right: 16px;
}
.settings-column__list-title {
  font-size: 20px;
}
