.nav {
  background-color: #f9f9fa;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav__btn {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link img {
  width: 120%;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  top: -3px;
  right: -12px;
}
.nav__check-info {
  width: 5px;
  height: 5px;
  display: block;
  background-color: tomato;
  border-radius: 2.5px;
  position: absolute;
  right: -4px;
}
