.nav {
  background-color: #f9f9fa;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav__btn {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link img {
  width: 120%;
}
