.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 700;
}
.screen-header__icons img {
  margin-left: 15px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons:hover .setting-icon {
  animation: rotateCog 2s ease-in-out infinite;
}
